@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Readex Pro';
  src: url('../font/static/ReadexPro-VariableFont_HEXP,wght.ttf') format('truetype'),

}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #1C6EA4;
  --primary-dark: #1E201E;
  --secondary-dark: #3C3D37 ; 
  --secondary: #33A1E0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary-dark: var(--secondary-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ck-content-font-family: 'Lato';
  }
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
	font-family: var(--ck-content-font-family);
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}